<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>PERCEPTRON</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-xlarge.css') }}" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a onclick="window.location.href='/main'">PERCEPTRON</a></h1>
				<nav id="nav">
					<ul>
						<li><a onclick="window.location.href='/main'">Home</a></li>
						<li><a onclick="window.location.href='/notice/0'">Notice</a></li>
						<li><a href="/project">Project</a></li>
						<li><a href="/board/0">Board</a></li>
						{% if session['logFlag'] == True %}
							<li><a href="/profile">Profile</a></li>
							<li><a href="/logout" class="button special">Logout</a></li>
						{% else %}
							<li><a href="/login" class="button special">login</a></li>
						{% endif %}
					</ul>				
				</nav>
			</header>

			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>community</h2>
					<p>자유 게시판</p>
				</header>
				<div class="container">
					<hr class="major" />
					<!--게시판-->
					<div class="board_list_wrap">
						<!-- 추가한 코드 -->
			            <div class="paging1">
			                <form class="board_head" method="POST" action="/board/0">
			                	<span class="paging2">
			                    <button class="dropbtn" type="button">말머리</button>
			                        <div class="dropdown-content">
			                            <button type="submit" name='bt' value='all'>전체보기</button>
			                            <button type="submit" name='bt' value='자유'>자유</button>
			                            <button type="submit" name='bt' value='질문'>질문</button>
			                            <button type="submit" name='bt' value='익명'>익명</button>
			                        </div>
			                	</span>
				                <button type="submit" class="bt3" name='bt' value='write'>글쓰기</button>
			                </form>
			            </div>
			            <table class="board_list">
			                <caption>게시판 목록</caption>
			                <thead>
			                    <tr>
			                        <th class="board_else">번호</th>
			                        <th class="board_else">말머리</th>
			                        <th class="board_title" style = "width: 25em;">제목</th>
			                        <th class="board_else">글쓴이</th>
			                        <th class="board_else">작성일</th>
			                        <th class="board_else">조회</th>
			                        <th class="board_else">좋아요</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    {% for b in board %}
								<tr>
									<td>{{ b['BOARDID'] }}</td>
									<td>{{ b['HEAD'] }}</td>
									<td><a href="/content/{{b['BOARDID']}}">{{ b['TITLE'] }}</a></td>
									<td>{{ b['NAME'] }}</td>
									<td>{{ b['DATE(REGDATE)'] }}</td>
									<td>{{ b['VIEWCNT'] }}</td>
									<td>{{ b['LIKES'] }}</td>
								</tr>
								{% endfor %}
			                </tbody>
			            </table>
			            <div class="paging">
			                <a onclick="window.location.href='/board/0'" class="bt">첫 페이지</a>
			                {% if board_cnt != 0 %}
			                	<a onclick="window.location.href='/board/{{board_cnt - 1}}'" class="bt">이전 페이지</a>
			                {% endif %}
			                {% for p in pagecnt %}
				                {% if p == page %}
				                	<a onclick="window.location.href='/board/{{p}}'" class="num on">{{p+1}}</a>
				                {% else %}
				                	<a onclick="window.location.href='/board/{{p}}'" class="num">{{p+1}}</a>
				                {% endif %}
				            {% endfor %}
				            {% if page != board_cnt - 1 %}
			                	<a onclick="window.location.href='/board/{{page + 1}}'" class="bt">다음 페이지</a>
			                {% endif %}
			                <a onclick="window.location.href='/board/{{board_cnt - 1}}'" class="bt">마지막 페이지</a>
			            </div>
			        </div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<h3>Contact </h3>
							<p>PERCEPTRON (가톨릭관동대학교, 소프트웨어학과 인공지능 동아리)<br>
								동아리장 > lucky3270@naver.com (가입, 관련 문의)</p>
						</div>
					</div>
					<ul class="copyright">
						<p>Copyright © PERCEPTRON. All rights reserved. </p>
					</ul>
				</div>
			</footer>
	</body>
</html>